<%= turbo_frame_tag "single_quote" do %>
  <div class="d-flex flex-column justify-content-center align-items-center bg-info w-100" style="height: 100%;">
    <%= simple_form_for quote, html: { class: "quote form w-50" } do |f| %>
      <h4 class="d-flex align-items-center <%= quote.new_record? ? 'bg-success' : 'bg-warning' %> justify-content-center text-dark px-2 py-1 mb-4 rounded">
        <%= quote.new_record? ? "Create new quote" : "Update quote" %>
      </h4>
      <div class="form-group my-2">
        <%= f.input :name, input_html: { class: "form-control", autofocus: true } %>
      </div>
      <div class="mb-3 text-danger">
        <%= form_error_notification(quote) %>
      </div>
      <div class="form-group text-center d-flex flex-column justify-content-center gap-3">
        <%= f.submit class: "btn btn-success", "data-turbo": true %>
        <%= link_to "Cancel", quotes_path, class: "btn btn-dark border-light" %>
      </div>
    <% end %>
  </div>
<% end %>
