<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path, class: "btn border-dark my-3" %>
  <%= turbo_frame_tag "single_quote" do %>
    <div class="border p-3 mt-3 shadow-sm" style="height: 500px">
      <h1 class="text-center">
        <%= @quote.name.titleize %> <span class="text-primary">Preview</span>
      </h1>
      <div class="d-flex justify-content-between align-items-center my-3">
        <div class="d-flex align-items-center gap-2">
          <span class="d-flex align-items-center bg-secondary text-dark px-2 py-1" style="border-radius: 5px;">
            <%= link_to "X", quotes_path, class: "btn btn-dark btn-sm me-2 text-light rounded-1", style:"width: 30px; padding: 0; font-size: 14px;" %>
            <span>Exit Preview</span>
          </span>
          <span class="d-flex align-items-center text-dark px-2 py-1 rounded bg-success">Dates Count: <%= @quote.line_item_dates.count %></span>
          <span class="d-flex align-items-center text-dark px-2 py-1 rounded" style="background-color: orange;">  Total Sheet Price: <%= number_to_currency(@quote.line_item_dates.flat_map(&:line_items).sum { |line_item| line_item.unit_price * line_item.quantity }) %></span>
        </div>
        <%= link_to "New date", new_quote_line_item_date_path(@quote), class: "btn btn-primary" %>
      </div>
      <div class="table-responsive" style="max-height: 350px; overflow-y: auto; overflow-x: hidden;">
        <div id="quote_preview">
          <%= turbo_frame_tag "line_item_dates" do %>
            <% if @line_item_dates.present? %>
              <%= render @line_item_dates, quote: @quote %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</main>
