<%= simple_form_for [quote, line_item_date], html: { class: "form line-item-date w-100" } do |f| %>
  <h3 class="form-title text-center p-2">Create New Date</h3>
  <div class="d-flex flex-row justify-content-center align-items-center w-100 gap-3 m-2">
    <%= form_error_notification(line_item_date) %>
    <div class="form-group w-50">
      <%= f.input :date, html5: true, input_html: { autofocus: true }, label_html: { class: "form-label" }, input_html: { class: "form-control" } %>
    </div>
    <div class="form-actions w-25 gap-2">
      <%= f.submit class: "btn btn-success" %>
      <%= link_to "Cancel", quote_path(quote), class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>
