<%= turbo_frame_tag line_item_date do %>
  <div class="line-item-date">
    <%= turbo_frame_tag dom_id(line_item_date, :edit) do %>
      <div class="line-item-date__header">
        <h2 class="line-item-date__title">
        <%= l(line_item_date.date, format: :long) %>
        </h2>

        <div class="line-item__actions">
          <%= button_to "Delete",
                        [quote, line_item_date, line_item],
                        method: :delete,
                        form: { data: { turbo_frame: "_top" } },
                        class: "btn btn-danger" %>
          <%= link_to "Edit",
                      [:edit, quote, line_item_date, line_item],
                      data: { turbo_frame: "_top" },
                      class: "btn btn-warning" %>
        </div>
      </div>
    <% end %>
      <div class="line-item line-item--header">
        <div class="line-item__name">Article</div>
        <div class="line-item__quantity">Quantity</div>
        <div class="line-item__price">Price</div>
        <div class="line-item__actions"></div>
      </div>

      <%# In the extract from the logs above, we are querying the line_items table %>
      <%# twice because we have two line item dates, but we would query it n times if we %>
      <%# had n line item dates. This is because each time we render a new line item date, %>
      <%# we also perform a request to retrieve the associated line items because of this line: %>
      <%= turbo_frame_tag nested_dom_id(line_item_date, "line_items") do %>
        <%= render line_item_date.line_items, quote: quote, line_item_date: line_item_date %>
      <% end %>
      <%= turbo_frame_tag nested_dom_id(line_item_date, LineItem.new) %>

      <div class="line-item-date__footer">
        <%= link_to "Add item",
                    [:new, quote, line_item_date, :line_item],
                    data: { turbo_frame: nested_dom_id(line_item_date, LineItem.new) },
                    class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
