<nav class="d-flex flex-row align-items-center justify-content-around p-2 px-4 bg-dark text-white" style="position: sticky; top: 0; z-index: 1000">
  <% if user_signed_in? %>
    <h3 class="col-4">
      <%= link_to content_tag(:span, current_company.name), :root, class: "btn btn-dark" %>
    </h3>

      <% account_age_seconds = Time.current - current_user.created_at %>
      <% days = (account_age_seconds / 1.day).to_i %>
      <% hours = ((account_age_seconds % 1.day) / 1.hour).to_i %>
      <% minutes = ((account_age_seconds % 1.hour) / 1.minute).to_i %>
      <% seconds = (account_age_seconds % 1.minute).to_i %>

      <% parts = [] %>
      <% parts << "#{days} days" if days > 0 %>
      <% parts << "#{hours} hours" if hours > 0 %>
      <% parts << "#{minutes} minutes" if minutes > 0 %>
      <% parts << "#{seconds} seconds" if seconds > 0 %>
      <p class="col-4 d-none d-lg-block"><strong>You have been with us for exactly:</strong> <%= parts.join(", ") %>

      <div class="navbar justify-content-end gap-3 col-7 col-lg-3">

      <% if current_company.quotes.count > 0 %>
        <%= link_to (current_page?(root_path) ? "View All Quotes" : "Go To Dashboard"),
                  (current_page?(root_path) ? quotes_path : root_path),
                  class: "btn btn-light" %>
      <% end %>



    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="m-2"><%= "Welcome #{current_user.name}" %></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <button class="dropdown-item">
                Settings
          </button>
        </li>
        <li>
                <%= button_to "Sign out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "dropdown-item" %>
        </li>
      </ul>
    </div>

    <% else %>
    <div class="d-flex flex-row col-5">
      <img
          src="https://www.thedownsizinginstitute.com/wp-content/uploads/2022/09/orange-quotation-marks-png-7-1030x773-1.png"
          alt="quote logo"
          style="height: 30px; width: auto;"
          >
      <h3 class="ms-1">Welcome to Quotes</h3>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <%= link_to "Sign in",
                  new_user_session_path,
                  class: "btn btn-success"%>
      <% end %>
    </div>

  </div>

  <%= tag.button role: "button", data: {action: "color-theme#toggleColorTheme"}, class: "btn btn-link link-primary" do %>
    <i class="fa-solid fa-moon" data-color-theme-target="icon"></i>
  <% end %>

</nav> <%# was header and now changed to nav %>
